altgraph==0.17.4
blinker==1.8.2
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
Flask-Cors==4.0.1
idna==3.7
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
macholib==1.16.3
MarkupSafe==2.1.5
mutagen==1.47.0
packaging==24.1
pycryptodomex==3.20.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
requests==2.32.3
tqdm==4.66.5
urllib3==2.2.2
websockets==12.0
Werkzeug==3.0.3
youtube-dl==2021.12.17
yt-dlp==2024.8.6
zipp==3.20.0
gunicorn==20.1.0
